extends layout

block content
  fieldset
    legend
      h1 Добавление учётной записи

    form(action="/account", method="post")
      input(type="text", name="user_id", value=user._id, hidden)
      input(type="text", name="name" placeholder="Название сервиса" required)
      input(type="text", name="login" placeholder="Логин" required)
      input(type="password", name="password" placeholder="Пароль" required)
      button(type="submit") Добавить

    a(href="/") Вернуться на главную
