extends layout

block content
  header
    div(style="float: right")= user.username
      &nbsp;
      a(href="/logout") Выйти

    nav
      a(href="/account") Новая запись

  div(style="clear: both")

  main
    hr
    h1(style="text-align: center") Список учётных записей
    hr

    if accounts.length
      ul
        each account in accounts
          li
            h3= account.name
            span Логин: 
              strong= account.login
            br
            span Пароль: 
              strong= account.password
    else
      p Не найдено ни одной учётной записи
