extends layout

block content
  fieldset
    legend
      h1 Регистрация в менеджере паролей

    form(action="", method="post")
      input(type="text", name="username", placeholder="Логин", required)
      input(type="password", name="password", placeholder="Пароль", required)
      button(type="submit") Зарегистрироваться

    if messages.length
      ul
        each message in messages
          li= message

    a(href="../login") Войти под существующем аккаунтом
