body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@media (max-width: 414px) {
  body {
    padding: 10px 20px;
  }

  h1 {
    font-size: 1.5em;
  }
}

a {
  color: #00B7FF;
}
